{% extends "base.html" %}
{%- block title %}
     <title>About ShiftRy</title>
 {%- endblock title %}


{% block content %}
<img class="pull-right img-rounded img-responsive" title="ShiftRy" alt="ShiftRy" src="/data/images/shiftry.png"/>
        <h1>About ShiftRy</h1>
<p>
<i>ShiftRy</i> is a web service for analyzing diachronic changes in the usage of words occurring in news texts from Russian mass media.
For that, we employ diachronic word embedding models trained on large Russian news corpora from 2010 up to 2019.</p>
<p>
You can <a href="/">explore the semantic shifts history of any given query word</a>, or <a href="/en/pairwise/">browse the lists of words ranked by the degree of their semantic drift</a> in any couple of years.
Visualizations of the words' trajectories through time are provided.
<p>Users can <a href="/en/binary/">obtain corpus examples with the query word before and after the semantic shift</a>.</p>
<p>We plan to update <i>ShiftRy</i> yearly.</p>
<p>The source code of this site is available <a href="https://github.com/wadimiusz/diachrony_webvectors">here</a>.</p>
<p>Work on creating <i>ShiftRy</i> was a part of a Master's program in <a href="https://www.hse.ru/en/ma/ling/">Computational Linguistics</a> at the <a href="https://www.hse.ru/en/">Higher School of Economics.</a> </p>
<hr/>

<p><i>ShiftRy</i> is created by:</p>
<ul>
<li><p><a href="https://www.mn.uio.no/ifi/english/people/aca/andreku/" target="_blank">Andrey Kutuzov</a> (University of Oslo)</p></li>
<li><p><a href="mailto:wadimiusz@gmail.com">Vadim Fomin</a> (Higher School of Economics)</p></li>
<li><p><a href="mailto:vmikhailovhse@gmail.com"> Vladislav Mikhailov</a> (Higher School of Economics, Sberbank)</p></li>
<li><p><a href="mailto:julia.rodina97@gmail.com">Julia Rodina</a> (Higher School of Economics)</p></li>
</ul>


{% endblock %}
