{% extends "base.html" %}
{%- block title %}
     <title>ShiftRy: о проекте</title>
 {%- endblock title %}


{% block content %}
<img class="pull-right img-rounded img-responsive" title="ShiftRy" alt="ShiftRy" src="/data/images/shiftry.png"/>
        <h1>Что такое ShiftRy</h1>
<p><i>ShiftRy</i> - это веб-сервис для анализа диахронических изменений в употреблении слов в российских новостях. Он назван в честь покемона Шифтри (англ. shift - &laquo;сдвиг&raquo;), внешне похожего на японских <a href="https://ru.wikipedia.org/wiki/%D0%A2%D1%8D%D0%BD%D0%B3%D1%83" target="_blank">тэнгу</a>.
Мы используем диахронические дистрибутивные модели, обученные на большом корпусе русскоязычных новостных текстов, опубликованных в период с 2010 по 2020 год.</p>
<p>Вы можете <a href="/">исследовать историю семантических сдвигов любого заданного слова</a> или <a href="/ru/pairwise/">получить списки слов, упорядоченных по силе семантических изменений</a> между двумя данными годами.
Также мы предоставляем визуализации &laquo;траекторий&raquo; слов через время, от одних значений к другим.

Возможно <a href="/ru/binary/">получить корпусные примеры употребления конкретного слова до и после семантического сдвига</a>.</p>
<p>Мы планируем обновлять <i>ShiftRy</i> ежегодно.</p>

<h2>Рассказ о ShiftRy на конференции "Диалог-2020"</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NZMeOzQgfxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2>Источники новостных текстов</h2>
<ol>
<li><p><a href="https://www.fontanka.ru/">Фонтанка</a> <i>(только до 2020)</i></p></li>
<li><p><a href="https://www.gazeta.ru/" target="_blank">Газета.ру</a> <i>(только до 2020)</i></p></li>
<li><p><a href="https://www.interfax.ru/" target="_blank">Интерфакс</a> <i>(только до 2020)</i></p></li>
<li><p><a href="https://iz.ru/" target="_blank">Известия</a> <i>(только до 2020)</i></p></li>
<li><p><a href="https://www.kp.ru/" target="_blank">Комсомольская правда</a></p></li>
<li><p><a href="https://lenta.ru/" target="_blank">Лента.ру</a></p></li>
<li><p><a href="https://novayagazeta.ru/" target="_blank">Новая Газета</a></p></li>
<li><p><a href="https://nplus1.ru" target="_blank">N + 1</a></p></li>
<li><p><a href="https://www.rbc.ru/" target="_blank">РБК</a></p></li>
<li><p><a href="https://www.the-village.ru/" target="_blank">The Village</a></p></li>
</ol>

<h2 id="models">Диахронические дистрибутивные модели</h2>
<p>Векторные семантические модели (word embeddings) на этом сайте были обучены на новостных текстах, опубликованных российскими СМИ в период между 2010 и 2020 годами.
Полный корпус за 11 лет содержит около 185 миллионов слов, с годовыми размерами подкорпусов от 9 миллионов (2014) до 29 миллионов (2020) слов.
Модели были выровнены при помощи <a target="_blank" href="https://en.wikipedia.org/wiki/Procrustes_transformation">Procrustes transformation</a>, и полностью совместимы друг с другом.</p>
<p>Скачать модели:</p>
<ul>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2010_shiftry.vec.gz">2010 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2011_shiftry.vec.gz">2011 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2012_shiftry.vec.gz">2012 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2013_shiftry.vec.gz">2013 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2014_shiftry.vec.gz">2014 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2015_shiftry.vec.gz">2015 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2016_shiftry.vec.gz">2016 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2017_shiftry.vec.gz">2017 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2018_shiftry.vec.gz">2018 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2019_shiftry.vec.gz">2019 год</a> </li>
<li> <a href="https://rusvectores.org/news_history/models/shiftry/2020_shiftry.vec.gz">2020 год</a> (до июня) </li>
</ul>

<hr/>
<h2>Создатели <i>ShiftRy</i></h2>
<p>Работа по созданию <i>ShiftRy</i> велась в рамках магистерской программы по <a href="https://www.hse.ru/ma/ling/">компьютерной лингвистике</a> в <a href="https://www.hse.ru/">Высшей школе экономики</a>.
Участники проекта:</p>
<ul>
<li><p><a href="https://www.mn.uio.no/ifi/english/people/aca/andreku/" target="_blank">Андрей Кутузов</a> (Университет Осло)</p></li>
<li><p><a href="mailto:wadimiusz@gmail.com">Вадим Фомин</a> (Высшая Школа Экономики)</p></li>
<li><p><a href="mailto:vmikhailovhse@gmail.com">Владислав Михайлов</a> (Высшая Школа Экономики, Сбербанк)</p></li>
<li><p><a href="mailto:julia.rodina97@gmail.com">Юлия Родина</a> (Высшая Школа Экономики)</p></li>
</ul>

<p>Наши публикации о поиске изменений в значениях слов:</p>
<ul>
    <li>Andrey Kutuzov, Vadim Fomin, Vladislav Mikhailov, Julia Rodina (2020). <a href="http://www.dialog-21.ru/media/4947/kutuzovaplusetal-049.pdf">ShiftRy: Web Service for Diachronic Analysis of Russian News</a>. In Proceedings of the International Conference “Dialog”</li>
    <li>Fomin, V., Bakshandaeva, D., Rodina, J., & Kutuzov, A. (2019).<a href="http://www.dialog-21.ru/media/4598/fominvplusetal-116.pdf">Tracing cultural diachronic semantic shifts in Russian using word embeddings: test sets and baselines.</a> In Proceedings of the International Conference “Dialog” (Issue 17) (RSUH) (Moscow) (pp. 213-227).</li>
    <li>Rodina, J., Bakshandaeva, D., Fomin, V., Kutuzov, A., Touileb, S., & Velldal, E. (2019). <a href="https://www.aclweb.org/anthology/W19-4725/">Measuring diachronic evolution of evaluative adjectives with word embeddings: the case for English, Norwegian, and Russian.</a> In Proceedings of the 1st International Workshop on Computational Approaches to Historical Language Change (pp. 202-209).</li>
</ul>
{% endblock %}
