{% extends "base.html" %}
{%- block title %}
     <title>ShiftRy: о проекте</title>
 {%- endblock title %}


{% block content %}
<img class="pull-right img-rounded img-responsive" title="ShiftRy" alt="ShiftRy" src="/data/images/shiftry.png"/>
        <h1>Что такое ShiftRy</h1>
<p><i>ShiftRy</i> - это веб-сервис для анализа диахронических изменений в употреблении слов в российских новостях.
Мы используем диахронические дистрибутивные модели, обученные на большом русском новостном корпусе, включающем тексты с 2010 по 2019 годы.</p>
<p>Вы можете <a href="/">исследовать историю семантических сдвигов любого заданного слова</a> или <a href="/ru/pairwise/">получить списки слов, упорядоченных по силе семантических изменений</a> между двумя данными годами.
Также мы предоставляем визуализации "траекторий" слов через время, от одних значений к другим.
<p>Возможно <a href="/ru/binary/">получить корпусные примеры употребления конкретного слова до и после семантического сдвига</a>.</p>
<p>Мы планируем обновлять <i>ShiftRy</i> ежегодно.</p>
<p>Исходный код сайта доступен <a href="https://github.com/wadimiusz/diachrony_webvectors">здесь</a>.</p>
<hr/>

<p>Создатели <i>ShiftRy</i>:</p>
<ul>
<li><p><a href="https://www.mn.uio.no/ifi/english/people/aca/andreku/" target="_blank">Андрей Кутузов</a> (Университет Осло)</p></li>
<li><p>Вадим Фомин (Высшая Школа Экономики, Сбербанк)</p></li>
<li><p>Владислав Михайлов (Высшая Школа Экономики, Сбербанк)</p></li>
<li><p>Юлия Родина (Высшая Школа Экономики)</p></li>
</ul>
{% endblock %}
