{%- extends "base.html" -%}

{% block title%}
<title>{{strings['base3']}}: {{ strings['binary1'] }}</title>
{% endblock title %}

{% block content %}
<form method="post">
    <div class="form-group">
        <div class="checkbox">
          <p><em>{{strings['pairwise2']}}</em></p>
          <fieldset>
            <!-- A cicle for models to work with -->
            {%- for m in models %}
            <label>
            <input type="radio" {% if m == model1 %} checked {% endif %} name="model1" value="{{ m }}">{{ strings[models[m]] }}
            </label>
            {%- endfor %}
          </fieldset>
        </div>

        <div class="checkbox">
          <p><em>{{strings['pairwise3']}}</em></p>
          <fieldset>
            <!-- A cicle for models to work with -->
            {%- for m in models %}
            <label>
            <input type="radio" {% if m == model2 %} checked {% endif %} name="model2" value="{{ m }}">{{ strings[models[m]] }}
            </label>
            {%- endfor %}
          </fieldset>
        </div>

        <div class="fields">
            <div class="input-group">
                <label>
                <input type="text" class="form-control" name="word" value="{{ word }}" maxlength=200>
                    {{ strings['binary2'] }}
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{strings['binary3']}}</button>
    </div>
</form>

{% if label == "1" %}
{{ strings['binary5'] }} {{ strings['binary6'] }} {{ proba }}
{% elif label == "0" %}
{{ strings['binary4'] }} {{ strings['binary6'] }} {{ proba }}
{% endif %}
{% endblock %}