{%- extends "base.html" -%}

{% set meta_title = [strings['base3'], strings['binary1']]|join(': ')  %}

{% block title%}
<title>{{strings['base3']}}: {{ strings['binary1'] }}</title>
{% endblock title %}

{%- block metas -%}
{{ super() }}
{%- endblock metas -%}


{% block content %}
<p>{{strings['binary0']}}</p>
<div id="queryform">
<form id="inputform" action="#" method=post>
        <div class="checkbox">
          <p>{{strings['pairwise5']}}</p>
          <fieldset>
            <!-- A cicle for models to work with -->
            {%- for m in models %}
            <input type="checkbox" {% if m == model1 or m == model2 %} checked {% endif %} name="models" id="m{{ m }}" value="{{ m }}">
            <label for="m{{ m }}">{{ strings[models[m]] }}</label>
            {%- endfor %}
          </fieldset>
        </div>

            <div class="form-group">
                    <label for="query">{{ strings['binary2'] }}</label>
                    {% if word %}
                    <input class="typeahead"  type="text" id="query" name="word" value="{{ word }}" maxlength=40>
                    {% else %}
                    <input class="typeahead"  type="text" id="query" name="word" value="{{ strings['binary12'] }}" maxlength=40>
                    {% endif %}
                    
            </div>
        <button type="submit" class="btn btn-primary">{{strings['binary3']}}</button>
    </form>
</div>

 {% if error -%}
    <p> <span style = "font-size:larger;"><strong>
      {% if 'Incorrect tag' in error -%}
      {{strings['similar22']}}
      {%- elif 'Incorrect query' in error -%}
      {{strings['similar21']}}
      {%- elif 'Identical models' in error -%}
      {{strings['binary8']}}
      {%- elif '2 years' in error -%}
      {{strings['pairwise12']}}
      {%- else -%}
      {{strings['similar18']}} {{ word }}
      {%- endif %}
      </strong></span>
    <p>
      {% endif -%}
{% if label == "1" %}
<img class="pull-right img-responsive" src="https://shiftry.rusvectores.org/data/images/shiftry.png" width=100 alt="{{ strings['similar35'] }}" title="{{ strings['similar35'] }}">
<h2><large><b>{{ strings['binary5'] }} {{ model1 }}-{{ model2 }}.</b></large></h2>
<a href="{{ url }}{{lang}}/{{ word }}" target="_blank"><b>
    {{ word.split('_')[0] }} <sub style="font-size:50%;">{{word.split('_')[-1]}}</sub></b>
  </a>
<p>{{ strings['binary6'] }} {{ proba }}</p>
<!-- Word trajectory -->
<center>
<a href="{{ url }}data/images/tsne_shift/{{ fname }}.png" target="_blank">
<img class="img-responsive" src = "{{ url }}data/images/tsne_shift/{{ fname }}.png" alt = "{{ strings['synraw16'] }}" title = "{{ strings['synraw16'] }}" style="max-width: 700px;">
</a>
</center>
{% elif label == "0" %}
<p><large><b>{{ strings['binary4'] }} {{ model1}}-{{ model2  }}.</b></large></p>
<p>{{ strings['binary6'] }} {{ proba }}</p>
{% endif %}

{% if examples_type == 1 %}
<h2>{{ strings['binary9'] }}
  <a href="{{ url }}{{lang}}/{{ word }}" target="_blank"><b>
    {{ word.split('_')[0] }} <sub style="font-size:50%;">{{word.split('_')[-1]}}</sub></b>
  </a>:</h2>
<table class="table table-striped">
  {% for key, values in examples.items()|sort %}
    <thead>
      <tr>
        <th> <h3>{{ key }}</h3> </th>
      </tr>
    </thead>
    {% for value in values %}
    <tr>
      <td> {{ value|safe }} </td>
    </tr>
    {% endfor %}
  {% endfor %}
</table>
{% elif examples_type == 0 %}
<p><b>{{ strings['binary10'] }}</b></p>
<form id="confirmform" action="#" method=post>
    <button type="submit" class="btn btn-primary" name="confirm" value="{{word}} {{model1}} {{model2}}">
        {{ strings['binary11'] }}
    </button>
</form>
{% endif %}
{% endblock %}